// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#citytable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#citytable td,#citytable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#citytable tr:nth-child(even){background-color: #f2f2f2;}

#citytable tr:hover {background-color: #ddd;}

#citytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}